apiVersion: apps/v1
kind: Deployment
metadata:
  name: biblio-app
spec:
  replicas: 5
  selector:
    matchLabels:
      app: biblio
  template:
    metadata:
      labels:
        app: biblio
    spec:
      containers:
      - name: app
        image: touatifadwa/biblio-gatekeeper:latest
        ports:
        - containerPort: 3000  # ← Changez ce port selon votre app
        readinessProbe:
          httpGet:
            path: /  # Ou votre endpoint de santé
            port: 3000
          initialDelaySeconds: 10